.mobile{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    background-color: var(--yellow);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 500;
}

@media screen and (max-width :455px){
    .mobile{
        display: none;
    }

} 