.more-profile{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.more-profile__span1{
    font-size: 20px;
    font-weight: 600;
    position: relative;
    bottom: 13px;
}
.more-profile__span2{
    font-size: 14px;
    opacity: 0.6;
    position: relative;
    bottom: 6px;
}
.more-profile__span2__i{
    margin-left: 5px;
}
.more__nav{
    border: none;
}
.more__nav2{
    border: none;
    margin-top: 10px;
    justify-content:start;
    margin-left: 30px;
}
.more__navber2-1{
    margin-left: 30px;
}
.more-sion{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    padding-bottom: 10px;
}
.more-sion__span{
    font-size: 15px;
    font-weight: 500;
}
.more-sion__img-1{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color:#FAE100;
    margin-left: 20px;
    margin-bottom: 8px;
    margin-top: 10px;
    position: relative;
}
.more-sion__text-1{
    font-size: 15px;
    margin-left: 9px;
    opacity: 0.8;
    font-weight: 400;
}
.more-sion__div{
    display: flex;
    flex-direction: column;
    margin-left: 10px;

}
.more-sion__img-quotes{
    position: absolute;
    color: white;
    top: 12px;
    left: 12px;
}
